# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
texput.log
.env

# Generated PDFs and TeX files
output/
# OS files
.DS_Store
Thumbs.db